In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [37]:
traj_df = pd.read_csv(r'C:\Users\20865\Desktop\dss\sjwj\DM23Dataset-main\data\traj.csv', header=0, encoding='utf-8')

In [38]:
traj_df.head()

,id,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays
0,0,2013-10-08T17:45:00Z,254,0,"[116.318726,40.009014]",0.000000,36.6900,0
1,1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0
2,2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0
3,3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0
4,4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0

In [39]:
traj_df['next_coordinates'] = traj_df.groupby(['entity_id', 'traj_id'])['coordinates'].shift(-1)
# 获取每个车辆下一个next_coordinates

In [40]:
traj_df = traj_df.dropna()
#删除有缺失值的行，确保数据完整

In [41]:
import warnings
warnings.filterwarnings("ignore")
#忽略警告信息

traj_df['start_lon'] = traj_df['coordinates'].apply(lambda x:eval(x)[0])
traj_df['start_lat'] = traj_df['coordinates'].apply(lambda x:eval(x)[1])
traj_df['next_lon'] = traj_df['next_coordinates'].apply(lambda x:eval(str(x))[0])
traj_df['next_lat'] = traj_df['next_coordinates'].apply(lambda x:eval(str(x))[1])
#提取经纬度数据，并将这些数据存储在新列中

In [42]:
traj_df.head()

,id,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays,next_coordinates,start_lon,start_lat,next_lon,next_lat
0,0,2013-10-08T17:45:00Z,254,0,"[116.318726,40.009014]",0.000000,36.6900,0,"[116.315102,40.004784]",116.318726,40.009014,116.315102,40.004784
1,1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0,"[116.315018,40.002842]",116.315102,40.004784,116.315018,40.002842
2,2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0,"[116.315041,39.998585]",116.315018,40.002842,116.315041,39.998585
3,3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0,"[116.315605,39.992554]",116.315041,39.998585,116.315605,39.992554
4,4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0,"[116.315735,39.987846]",116.315605,39.992554,116.315735,39.987846

In [45]:
import pandas as pd  
from sklearn.model_selection import train_test_split  
from sklearn.linear_model import LinearRegression  
from sklearn.metrics import mean_squared_error  
import numpy as np  
  
features = ['traj_id', 'current_dis', 'speeds', 'holidays', 'start_lon', 'start_lat']   
X = traj_df[features]  
  
# 目标变量为next_coordinates的经度和纬度  
y = traj_df[['next_lon', 'next_lat']]  
  
# 数据集划分  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
  
# 模型训练  
model = LinearRegression()  
model.fit(X_train, y_train)  
  
# 预测  
predictions = model.predict(X_test)  
  
# 评估  
mse = mean_squared_error(y_test, predictions, multioutput='raw_values')  
rmse = np.sqrt(mse)  
print(f'RMSE for Longitude: {rmse[0]}, RMSE for Latitude: {rmse[1]}')

RMSE for Longitude: 0.0038342371938282684, RMSE for Latitude: 0.00276590709018857